
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4c50d3;
  --secondary-color: #ffce00;
  --font-color: #1e1e1e;
  --white-color: #fff;
  --slate-color: #CBD5E1;
  --grey-color: #e7e7e7;
  --dark-grey-color: #5f5f5f;
  --soft-purple: #e7e8ff;
  --soft-blue: #c3e1ff;
  --soft-yellow: #fff5cc;
  --soft-red: #ffcbc8;
}

:root {
  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--white-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a, span {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

Input {
  background-color: white;
}